<table>
	<% @owners.each do |owner| %>
		<tr>
			<td><%= owner.name %>:</td>
			<% Ingredient.all.each do |ingredient| %>
				<% owned_ingredient = owner.owned_ingredients.find_by(ingredient_id: ingredient.id) %>
				<td><%= "#{ingredient.emoji} #{owned_ingredient.giveable_count}/#{owned_ingredient.received_count}" %></td>
			<% end %>

			<% CookieRecipe.all.each do |cookie| %>
				<% owned_cookie = owner.owned_cookies.find_by(cookie_recipe_id: cookie.id) %>
				<td><%= "#{cookie.emoji} #{owned_cookie.giveable_count}/#{owned_cookie.received_count}" %></td>
			<% end %>

		</tr>
	<% end %>
</table>
